<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SegmentedControlWithImagePractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2AD1CC141DCF0F3800AA9774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AD1CC281DCF0F3800AA9774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AD1CC331DCF0F3800AA9774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
